* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    animation: shakeBody linear 5s infinite;
}

.sky {
    background-image: url(background.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    position: absolute;
}

.trees {
    width: 100vw;
    height: 85vh;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top: -25vh;
}

.track {
    background-image: url(track.png);
    width: 200vw;
    height: 40vw;
    background-repeat: repeat-x;
    position: absolute;
    top: 52vh;
    animation: carMove linear 0.5s infinite;
}

.car {
    background-image: url(car_body.png);
    width: 22vw;
    height: 15vh;
    position: absolute;
    background-size: cover;
    top: 40vh;
    left: 20vw;
    animation: shake linear 5s infinite;
}

.wheel1 img {
    position: relative;
    width: 4.5vw;
    top: 6vh;
    left: 3vw;
    animation: wheelRotation linear 0.16s infinite;
}

.wheel2 img {
    position: relative;
    width: 4.5vw;
    top: -5vh;
    left: 15.4vw;
    animation: wheelRotation linear 0.16s infinite;
}

@keyframes wheelRotation {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes carMove {
    100% {
        transform: translateX(-100vw);
    }
}

@keyframes shake {
    0% {
        transform: translateY(-1.5vh);
    }

    50% {
        transform: translateY(1.5vh);
    }

    100% {
        transform: translateY(-1.5vh);
    }
}

@keyframes shakeBody {
    0% {
        transform: translateY(-5vh);
    }

    50% {
        transform: translateY(5vh);
    }

    100% {
        transform: translateY(-5vh);
    }
}